##### Backend #####

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

server/conf/config.json
server/data/*


##### Frontend #####

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

client/src/assets/main.css
client/public/weather-icons/_builder
client/public/weather-icons/_docs
client/public/weather-icons/css
client/public/weather-icons/font
client/public/weather-icons/less
client/public/weather-icons/sass
client/public/weather-icons/values
client/public/weather-icons/.gitignore
client/public/weather-icons/.npmignore
client/public/weather-icons/bower.json
client/public/weather-icons/package.json
